.buttonContainer {
  position: fixed;
  bottom: 7em;
  right: 2em;
}

.displayNone {
  display: none !important;
}
.singleButton {
  position: fixed;
  bottom: 3em;
  width: 3.1em;
  height: 3.1em;
  right: 5.8em;
  color: white !important;
}

.buttonList {
  padding: 0.5em 0 !important;
  background: transparent !important;
}

.buttonList span {
  margin-left: 1em;
  font-weight: bolder;
}

.buttonHeight {
  margin-top: 0.2em;
  width: 3.1em;
  height: 3.1em;
}


