.alertParagraph{
    font-size: 14px;
    color:red;
}

.alertInputName {
    border: 1px solid red !important;
}

.alertInputUrl {
    border: 1px solid red !important;
}

.alertInputDescription {
    border: 1px solid red !important;
}

p:empty:before{
    content: "\200b";
}