main {
  padding-top: 56px;
  padding-bottom: 56px;
}

.text-gray {
  color: #8590aa;
}

.bg-gray {
  background-color: #8590aa;
}

.body-bg {
  background-color: #e7e3d4;
}

.element-bg {
  background-color: #c4dbf6;
}

.primary-color {
  background-color: #3b8beb;
}

.radius {
  border-radius: 10px;
}

.button-active {
  color: white;
  background-color: #3b8beb;
}

.button-delete {
  color: white;
  background-color: #ee5622;
}

.position-fixed {
  position: fixed;
}

.creat-post {
  color: white;
  background-color: #b23850;
}

#filterSelect {
  border: 1px solid rgb(219, 216, 216);
}

#filterSelect:focus {
  outline: none;
}

#filterSelect:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px rgba(59, 139, 235, 0.5);
}

.border-l {
  border-left: 1px solid #3b8beb;
}

.border-r {
  border-right: 1px solid #3b8beb;
}

.border-t {
  border-top: 1px solid #3b8beb;
}

.hr-white {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

.hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(180, 179, 179, 0),
    rgba(180, 179, 179, 0.75),
    rgba(180, 179, 179, 0)
  );
}

#delete:hover {
  color: rgb(207, 27, 27);
}

@media (min-width: 768px) {
  .sticky-first {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 65px;
  }
  .sticky-second {
    position: -webkit-sticky;
    position: sticky;
    top: 214px;
  }

  .sticky-third {
    position: -webkit-sticky;
    position: sticky;
    top: 381px;
  }
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 56px;
}

@media (max-width: 767px) {
  .most-commented {
    display: none;
  }
}
